<ul class="nav_buttons">
  <li>
		<%= link_to t(:Sent), user_messages_path(@user, :mailbox => :sent)%>
  </li>
  <li>
		<%= link_to t(:Redact), new_user_message_path(@user)%>
	</li>
</ul>		

<% title t(:Inbox) %>
<h1><%= yield(:title) %></h1>

<table class="recetas_table messages" style="width:570px">
	<tr>
		<th><%= t(:Delete_q)%></th>
		<th><%= t(:Subject) %></th>
		<th><%= t(:From) %></th>
		<th><%= t(:Reception_date)%></th>
	</tr>
	<% if @messages.size == 0 %>
		<tr>
			<td colspan="4">
				<%= t(:No_messages) %>
			</td>
		</tr>
	<% else %>
		<% for message in @messages %>
			<tr>
				<td><%= check_box_tag "delete[]", message.id %></td>
				<td>
					<% if message.read? %>
					  <%= link_to h(message.subject), user_message_path(@user, message) %>
					<% else %>
					  <%= link_to "#{h(message.subject)} (no leído)", user_message_path(@user, message), :style => 'color: red;' %>
					<% end %>
				</td>
				<td><%= link_to h(message.sender.login), user_path(@user) %></td>
		    <td><%=h l message.created_at.to_time, :format => :custom %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag t(:Delete) %>
			</td>
		</tr>
	<% end %>
</table>