<h2>Inbox</h2>
<table>
	<tr>
		<th>Del?</th>
		<th>Sent</th>
		<th>Sender</th>
		<th>Sent</th>
	</tr>
	<% if @messages.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<% else %>
		<% for message in @messages %>
			<tr>
				<td><%= check_box_tag "delete[]", message.id %></td>
				<td>
					<% if message.read? %>
					  <%= link_to h(message.subject), user_message_path(@user, message) %>
					<% else %>
					  <%= link_to "#{h(message.subject)} (unread)", user_message_path(@user, message) %>
					<% end %>
				</td>
				<td><%= link_to h(message.sender.login), user_path(@user) %></td>
		    <td><%=h message.created_at.to_s(:long) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag "Delete" %>
			</td>
		</tr>
	<% end %>
</table>
<%= link_to "Sent", user_messages_path(@user, :mailbox => :sent)%> |
<%= link_to "Compose", new_user_message_path(@user)%>