<h2>Sent</h2>
<table>
	<tr>
		<th>¿Borrar?</th>
		<th>Asunto</th>
		<th>De</th>
		<th>Fecha de envío</th>
	</tr>
	<% if @messages.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<% else %>
		<% for message in @messages %>
			<tr>
				<td><%= check_box_tag "delete[]", message.id %></td>
				<td><%= link_to h(message.subject), user_message_path(@user, message) %></td>
  			<td><%= link_to h(message.recipient.login), user_path(@user) %></td>
			  <td><%=h mydatetime_format(message.created_at) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag "Delete" %>
			</td>
		</tr>
 	<% end %>
</table>
<%= link_to "Inbox", user_messages_path(@user)%>