<% form_for @message, :url => user_messages_path(@user) do |f| %>

<p>
	To:<br/>
	<%= text_field_with_auto_complete :user, :login %>
	<%= error_message_on @message, :to %>
</p>

  <p>
    Subject:<br />
    <%= f.text_field :subject %>
    <%= error_message_on @message, :subject %>
    </p>
    <p>
      Message<br />
      <%= f.text_area :body %>
			<%= error_message_on @message, :body %>
    </p>
    <p>
      <%= submit_tag "Send" %>
    </p>
<% end %>