<% form_for @message, :url => user_messages_path(@user) do |f| %>



  <p>
    <%= f.label :to %>
	<%= error_message_on @message, :to %>
	<%= f.text_field :to ,{:autocomplete => "off"} %>
	<div class="auto_complete" id="message_to_auto_complete"></div>
	<%= auto_complete_field 'message_to', {:url => { :controller => "users",
	 :action =>	'auto_complete_for_user_login'}, :tokens => [' ']} %>
  </p>


  <p>
    Subject:<br />
    <%= f.text_field :subject %>
    <%= error_message_on @message, :subject %>
    </p>
    <p>
      Message<br />
      <%= f.text_area :body %>
			<%= error_message_on @message, :body %>
    </p>
    <p>
      <%= submit_tag "Send" %>
    </p>
<% end %>