<ul class="nav_buttons">
  <li>
		<%= link_to t(:Inbox), user_messages_path(@user) %>
  </li>
  <li>
	  <%= link_to t(:Sent), user_messages_path(@user, :mailbox => :sent)%>
	</li>
</ul>

<% title t(:Read_message) %>
<h2 class="title"><%= yield(:title) %></h2>

<p class="clear">
	<strong><%= t(:From)%>:</strong>
  <%= message_user(@message.sender == @user,@message.sender)%>
</p>

<p class="clear">
  <strong><%= t(:Received)%>:</strong>
  <%=h l @message.created_at.to_time, :format => :custom %>
</p>

<p class="clear">
	<strong><%= t(:To)%>:</strong>
	<%= message_user(@message.recipient == @user, @message.recipient)%>
</p>

<p>
  <strong>Mensaje:</strong><br />
  <%=h @message.body %>
</p>
<p>
  <% if @message.recipient == @user %>
	  <%= link_to t(:Reply), new_user_message_path(@user, :reply_to => @message) %>
  <% end %>
</p>