<p><strong>De:</strong> <%= @message.sender == @user ? link_to("You", user_path(@user)) : link_to(h(@message.sender.login), user_path(@user)) %></p>
<p>
  <strong>Recibido:</strong>
  <%= mydatetime_format(@message.created_at) %>
</p>

<p><strong>Para:</strong> <%= @message.recipient == @user ? link_to("You", user_path(@user)) : link_to(h(@message.recipient.login), user_path(@user)) %></p>
<p>
  <strong>Mensaje:</strong><br />
  <%=h @message.body %>
</p>
<p>
  <% if @message.recipient == @user %>
	  <%= link_to "Reply", new_user_message_path(@user, :reply_to => @message) %> |
  <% end %>
  <%= link_to "Inbox", user_messages_path(@user)%>
</p>