<% form_for [@forum_post,@forum_reply], :html => {:class => 'main_form'} do |f| %>
  <fieldset>
    <%= f.error_messages %>
  </fieldset>
	

  <fieldset>  
   <%= f.label :Respuesta %> <br/>
   <%= f.text_area :reply %>
  </fieldset>


  <p>
    <%= form_template_button(f) %> | 
    <% if action_name == "new"%>
      <%= link_to t(:Back), forum_post_path(@forum_post) %>
    <% else %>
      <%= link_to t(:Back), forum_post_path(@forum_reply.forum_post) %>
    <% end %>
  </p>
<% end %>
