<h2 class="title"><%= t(:Administration)%></h2>

<ul>
  <li><h3 class="subtitle">Web:</h3></li>
  <ul>
    <li><%= link_to t(:Listing_categories), categories_path %></li>
    <li><%= link_to t(:News), new_noticia_path %> 
	  </li>
  </ul>
  <li><h3 class="subtitle"><%= t(:Forums) %>:</h3></li>
  <ul>
	  <li><%= link_to t(:category1), forum_cat_l1s_path %></li>
	  <li><%= link_to t(:category2), forum_cat_l2s_path %></li>
	</ul>
</ul>