<div id="<%="comment_#{comment.id}"%>" class="comment" 
  
  <% if current_user.is_admin? %>
	onmouseover="$('<%="delete_#{comment.id}"%>').show();"
	onmouseout="$('<%="delete_#{comment.id}"%>').hide();"
  <% end %>
  >
	  <div style="width:100px; float:left">
	    <p class="no_spacing"><%= image_tag comment.user.avatar.url(:smalL) %></p>
	    <p class="no_spacing"><%= link_to comment.user.login, user_path(comment.user_id) %>
	    <%= invite_user_link(comment.user, "comment_link_#{comment.id}",
	      "user_link_#{comment.user.id}") %>
	      <%= image_tag('web/spinner.gif', :id => "spiner_comment_link_#{comment.id}",
		          :style=> 'display:none;')%>
	    </p>

	  </div>  
	  <div style="float:left; width: 468px;">
	     <p class="no_spacing" style="color: #999; font-size: 11px; float:left;"><%= mydatetime_format(comment.created_at) %></p>
			<% if current_user.is_admin? %>
			  <%= link_to_remote 'x', :update => '',
			    :url => comment_path(comment.commentable_type.to_s.underscore, comment.commentable_id, comment.id),
			    :confirm => '¿Estás seguro que quieres borrar este comentario?', :method => :delete,
			    :html => {:style => 'float: right; display:none;', :id => "delete_#{comment.id}"} %>
		  <% end %>
      <div style="clear:both;">		
	     <%= comment.comment%>
	    </div >
	  </div>

	  
</div>