<h2 class="title"><%= t(:category1)%></h2>

<table class="recetas_table" style="width:570px;">
  <tr>
    <th style="width:200px;"><%= t(:Title)%></th>
    <th><%= t(:Options)%></th>
  </tr>

<% for forum_cat_l1 in @forum_cat_l1s %>
  <tr class="<%= cycle('odd','par')%>">
    <td><%=h forum_cat_l1.title %></td>
    <td>
      <%= link_to t(:Show), forum_cat_l1 %> |
      <%= link_to t(:Edit), edit_forum_cat_l1_path(forum_cat_l1) %> |
      <%= link_to t(:Destroy), forum_cat_l1, :confirm => t(:are_you_sure), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_category1), new_forum_cat_l1_path %>
