<h1>New forum_cat_l1</h1>

<% form_for(@forum_cat_l1) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forum_cat_l1s_path %>
