<p>
  <b><%=t(:Title)%>:</b>
  <%=h @forum_cat_l1.title %>
</p>

<p style="color: red;">
  <%= t(:forum_cat_l2_list) %>
</p>

<% for forum_cat_l2 in @forum_cat_l2s %>
	<h3><%= forum_cat_l2.title %> <%= link_to 'Show', forum_cat_l2 %> </h3>
<% end %>



<%= link_to t(:Edit), edit_forum_cat_l1_path(@forum_cat_l1) %> |
<%= link_to t(:Back), forum_cat_l1s_path %>
