<% form_for(noticia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, t(:Title) %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle, t(:Subtitle) %><br />
    <%= f.text_field :subtitle %>
  </p>

  <p>
    <%= f.label :intro, t(:Intro) %><br />
    <%= f.text_area :intro %>
  </p>

  <p>
    <%= f.label :content, t(:Content) %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label :date, t(:Date) %><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <%= form_template_button(f) %>
  </p>
<% end %>

