<%= image_tag 'layo/img12.gif', :alt => SITE_NAME %>

<%= render :partial => 'options' %>

<% title t(:News) %>
<h2 class="title"><%= yield(:title) %></h2>

<div id="noticias">
	<div class="rss_button">
  	<%= link_to image_tag('web/ico-rss.png', :alt => "RSS"),
      formatted_noticias_path(:format => :rss) %>
  </div>

	<ul>
	<% for noticia in @noticias %>
		<li>
      <%= date_block(noticia.date) %>
			<div class="right-column noticia_item">
				<h3 class="noticia_title">
				  <%= link_to noticia.title, noticia %>
				</h3>
			  <h4><%= noticia.subtitle %></h4>
				<p id="news_intro"><%= noticia.intro %></p>
        <p>
  			  <%= number_of_comments(noticia) %>
        </p>
			  <p>
					<% if current_user && current_user.admin? %>
					    <%= link_to t(:Edit), edit_noticia_path(noticia) %> |
					    <%= link_to t(:Destroy), noticia, :confirm => t(:are_you_sure), :method => :delete %>
			    <% end %>
				</p>
      </div>
		</li>
	<% end %>
	</ul>
</div>