<%= image_tag 'layo/img12.gif' %>
<br/>
<br/>

<% title t(:News) %>
<h2 class="title"><%= yield(:title) %></h2>

<div id="noticias">
	<ul>
	<% for noticia in @noticias %>
		<li>
      <%= date_block(noticia.date) %>
			<div class="right-column">
				<h3 class="forum_cat_l1_title" style="padding-top: 3px;">
				  <%= link_to noticia.title, noticia %>
				</h3>
			  <h4><%= noticia.subtitle %></h4>
				<p id="news_intro"><%= noticia.intro %></p>
        <p>
  			  <%= number_of_comments(noticia) %>
        </p>
			  <p>
					<% if current_user && current_user.admin? %>
					    <%= link_to t(:Edit), edit_noticia_path(noticia) %> |
					    <%= link_to t(:Destroy), noticia, :confirm => t(:are_you_sure), :method => :delete %>
			    <% end %>
				</p>
      </div>
		</li>
	<div class="clear">&nbsp;</div>
	<% end %>
	</ul>
</div>