<% title "#{t(:Read_news)} > #{@noticia.title}" %>
<h1><%= yield(:title) %></h1>

<div id="noticias">
  <ul>
	  <li> 
		  <%= date_block(@noticia.date) %>
      <div class="right-column">
  	    <h4><%= @noticia.subtitle %></h4><br/>
	      <p><%= @noticia.content%></p>
      </div>
    </li>
  <ul>
</div>



<div class="clear"></div><br/><br/>
<span class="nav_links">
  <%= link_to t(:Back), noticias_path %>
</span>

<%= render :partial => 'comments/commenting_system',
 :locals => {:commentable => @noticia}%>

