<% form_for(@receta, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :name, t(:receta_name) %><br />
	    <%= f.text_field :name %>
		</div>

		<div class="form_col2">
	    <%= f.label :category, t(:Category) %><br />
	  	<%= f.collection_select :category_id, @categories, :id, :name %>
		</div>
	</div>
	
  <div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :people_can_eat, t(:people_can_eat) %><br />
	  	<%= f.text_field :people_can_eat, :size => "5" %>
		  <%= t(:people) %>
		</div>

		<div class="form_col2">
		  <div>
		    <%= f.label :duration, t(:duration) %><br />
		  	<%= f.text_field :duration , :size => "5"%>
			  <%= t(:minutes) %>
		  </div>
		</div>
	</div>

  <div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :photo, t(:Photo) %><br />
		  <%= f.file_field :photo, :class => 'file_type' %>
		</div>
	</div>

  <div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :country, t(:original_country) %><br />
	    <%= f.text_field :country, :size => "22" %>
		</div>

		<div class="form_col2">
	    <%= f.label :town, t(:original_town) %><br />
	    <%= f.text_field :town, :size => "22" %>
		</div>
	</div>
	
	<div class="clear"></div><br/>
  

	<div class="form_div">
    <%= f.label :description, t(:description) %><br />
    <%= f.text_area :description, :style => "width: 504px" %>
	</div>

  <div class="clear"></div><br/>

	<div class="form_div">
		<%= t(:ingredients_intro) %>
	  <div id="ingredients">
	  	<%= render :partial => 'ingredient', :collection => @receta.ingredients %>
	  </div>
	  <p>
		  <%= add_ingredient_link t(:Add_ingredient) %>
	  </p>
	</div>

  <div class="clear"></div>

	<div class="form_div" style="padding-top:6px;">
		<%= t(:steps_intro) %>
	  <div id="steps">
	  	<%= render :partial => 'step', :collection => @receta.steps %>
	  </div>
	  <p>
	  	<%= add_step_link t(:Add_step) %>
	  </p>
	</div>

	<div class="form_div observations">
    <%= f.label :observations, t(:observations) %><br />
    <%= f.text_area :observations, :style => "width: 504px" %>
	</div>

  <p class="clear">
    <% if action_name == 'new' %>
		<%= f.submit t(:create_receta) %> 
	<% else %>
		<%= f.submit t(:update_receta) %> 
	<% end %>| 
  	<%= link_to t(:Back), recetas_path %>
  </p>


<% end %>
