<div class="ingredient">
  <% fields_for "receta[ingredient_attributes][]", ingredient do |ingredient_form| %>
	  <p>
		  <%= t(:Ingredient) %>: <%= ingredient_form.text_field :name, :index => nil %>
			<% if ingredient.new_record? %>
				<%= link_to_function image_tag('web/delete.png', :alt =>t(:Delete_ingredient)),
				 "Element.extend(this).up($('.ingredient')).remove();" %>
				
			<% else %>
				<%= link_to_function t(:Delete_ingredient), "mark_for_destroy(this)"%>
				<%= ingredient_form.hidden_field :id, :index => nil %>
				<%= ingredient_form.hidden_field :should_destroy, :index => nil,
				 :class => 'should_destroy' %>
			<% end %>
		</p>
	<% end %>
</div>