<table class="recetas_table" style="width:570px;">		
  <tr>
    <th>Plato</th>
    <th>Puntuación</th>
    <!--<th style="width: 200px;">Descripción</th>-->
    <th>Categoría</th>
    <th>Autor</th>
    <!--<th style="text-align:center;">Options</th>-->
  </tr>

<% for receta in @recetas %>
  <tr class="<%= cycle('odd','par')%>" >
    <td><%= link_to receta.name,receta %></td>
    <td>
		<%= number_with_precision( Rating.rating(receta, 'Receta'), :precision => 1) %>/5 
		(<%= num_votes(Rating.number_of_votes('Receta', receta))%>)
	</td>
    <!--<td><%=h receta.description %></td>-->
    <td><%=h receta.category.name %></td>
    <td><%=h receta.user.login %></td>
    <!--<td><%= link_to 'Show', receta %> | <%= link_to 'Edit', edit_receta_path(receta) %> |
    <%= link_to 'Destroy', receta, :confirm => 'Are you sure?', :method => :delete %></td>
	-->
  </tr>
<% end %>
</table>