<% if current_user %>
	<ul class='star-rating'>
		<li class='current-rating' style='width:<%= (receta.rating * 30).to_i -%>px;'>
	    <% t(:Currently %>
	    <%= number_with_precision(receta.rating,:precision => 1) %>/5
	    <% t(:Stars)%>.
	  </li>

	  <li>
	    <%= link_to_remote( "1", {:url => { :controller => "recetas", 
	      :action => "rate", :id => receta.id, :rating => 1}},
	      :class => 'one-star', :name => '1 star out of 5') %>
	  </li>
	  <li>
	    <%= link_to_remote( "2", {:url => { :controller => "recetas", 
	      :action => "rate", :id => receta.id, :rating => 2}},
	      :class => 'two-stars', :name => '2 stars out of 5') %>    
	  </li>
	  <li>
	    <%= link_to_remote( "3", {:url => { :controller => "recetas", 
	      :action => "rate", :id => receta.id, :rating => 3}},
	      :class => 'three-stars', :name => '3 stars out of 5') %>
	  </li>
	  <li>
	    <%= link_to_remote( "4", {:url => { :controller => "recetas", 
	      :action => "rate", :id => receta.id, :rating => 4}},
	      :class => 'four-stars', :name => '4 stars out of 5') %>    
	  </li>
	  <li>
	    <%= link_to_remote( "5", {:url => { :controller => "recetas", 
	      :action => "rate", :id => receta.id, :rating => 5}},
	      :class => 'five-stars', :name => '5 stars out of 5') %>
	  </li>
	</ul>
<%else%>
	<div style="float:left">
  	<ul class='star-rating'>
	  	<li class='current-rating' style='width:<%= (receta.rating * 30).to_i -%>px;'>
		    <% t(:Currently %>
        <%= number_with_precision(receta.rating, :precision => 1) %>/5 
  	    <% t(:Stars)%>.
    	</li>
	  </ul>
  </div>
	<div style="float:left; padding-left: 20px; padding-top:10px;">
	  <%= link_to '¡Vota!', '/login' %>
	</div>
<%end%>