 
<% title t(:Last_published_recetas) %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'list_recetas',
   :locals => {:recetas => @recetas} %>

<br /><br />


<h2><%= t(:Best_recetas_by_category) %></h2>

<% for category in @categories %>	
	<div class="receta_category_div">
		<div class ="receta_category_name"><%= category.name %></div>
		<div>
			<%= link_to image_tag(category.categoryphoto.url(:small), :size => "172x150"),
			 recetas_categoria_path(category) %>		
		</div>
	</div>
<% end %>

<div class="clear"></div>
<%= render :partial => 'nav_buttons' %>
<br/>