<ul class="nav_buttons">
  <li>
    <%= link_to t(:New_receta), new_receta_path %>
  </li>
  <li>
    <%= link_to t(:What_can_i_cook), que_cocinar_hoy_recetas_path %>
  </li>
</ul>

<h2 class="title"><%= t(:Last_published_recetas) %></h2>

<%= render :partial => 'list_recetas',
   :locals => {:recetas => @recetas} %>

<br /><br />


<h1 class="title"><%= t(:Best_recetas_by_category) %></h1>

<% for category in @categories %>	
	<div class="receta_category_div">
		<div class ="receta_category_name"><%= category.name %></div>
		<div>
			<%= link_to image_tag(category.categoryphoto.url(:small), :size => "172x150"),
			 :action => "categoria", :id => category.id %>		
		</div>
	</div>
<% end %>
<br/>