
<span id="nueva_receta"><%= link_to 'Nueva receta', new_receta_path %></span>
<span id="nueva_receta"><%= link_to '¿Qué puedo cocinar?', :action => 'que_cocinar_hoy' %></span>

<br/><br/><br/>


<h1 class="title">Últimas recetas publicadas </h1>

<%= render :partial => 'list_recetas' %>

<br /><br />


<h1 class="title">Mejores recetas por categorías:</h1>

<% for category in @categories %>	
	<div style="float:left;margin-right: 0px; width: 190px; height: 150px; margin-bottom: 15px; margin-top:4px; text-align: center;">
		<div style="font-weight: bolder; text-align:center;"><%= category.name %></div>
		<div>
			<%= link_to image_tag (category.categoryphoto.url(:small)), :action => "categoria", :id => category.id %>		
		</div>
	</div>
<% end %>
<br/>