<h1>New receta</h1>

<% form_for(@receta, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

 
	<p>
		Photo<br/>
		<%= f.file_field :photo %>
	</p>


  <div id="ingredients">
	<%= render :partial => 'ingredient', :collection => @receta.ingredients %>
  </div>

  <p>
	<%= add_ingredient_link "Añadir ingrediente" %>
  </p>

<br/>

  <div id="steps">
	<%= render :partial => 'step', :collection => @receta.steps %>
  </div>

  <p>
	<%= add_step_link "Añadir paso" %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :puntuation %><br />
    <%= f.text_field :puntuation %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', recetas_path %>
