<% title t(:Recetas_searcher) %>
<h1><%= t(:Searching_specific_receta) %></h1>

<% form_for :receta, :url => resultados_busqueda_recetas_path   do |f| %>
	<div class="form_div" style="padding-top:18px;">
	   <div class="form_col1">
	    <%= f.label :name, t(:receta_name) %><br />
	    <%= f.text_field :name %>
	  </div>

	  <div class="form_col2">
	    <%= f.label :category, t(:Category) %><br />
	  	<%= collection_select :receta, :category_id, @categories,
	      :id, :name, {:include_blank => t(:All)} %>  
	  </div>
	</div>

	<div class="clear"></div>

	<div class="form_div">
	  <div class="form_col1"
	    <%= f.label :country, t(:original_country) %><br />
	    <%= f.text_field :country %>
	  </div>

	  <div class="form_col2">
	    <%= f.label :town, t(:original_town) %><br />
	    <%= f.text_field :town %>
	  </div>
	</div>

	<div class="clear"></div><br/><br/>

	<p class="clear">
    <%= submit_tag t(:Search) %>
	</p>
<% end %>

<div style="clear:both;"></div>
<br/>
<br/>


<h2 class="title"><%= t(:little_time_and_ingredients) %></h2><br/> 
<% form_for :receta, :url => resultados_recetas_path do |f| %>
  <div class="form_div"  style="padding-top:5px;">
		<div class="form_col1">
		  <div>
		    <%= f.label :duration, t(:duration) %><br />
		  	<%= f.text_field :duration , :size => "5"%>
			  <%= t(:minutes) %>
		  </div>
		</div>
	</div>

  <div style="clear:both;"></div>

	<div class="form_div">
	  <div id="ingredients">
	  	<%= render :partial => 'ingredient', :collection => @receta.ingredients %>
	  </div>
	  <p>
		  <%= add_ingredient_link t(:Add_ingredient) %>
	  </p>
	</div>

  <%= submit_tag 'Buscar' %>
<% end %>