<% title t(:Recetas_found) %>
<h1><%= yield(:title) %>:</h1>

<% if @recetas.size > 0 %>
  <%= render :partial => 'list_recetas', :locals => {:recetas => @recetas}%>
<% else %>
  <br/><%= t(:no_results_found) %>
<% end %>

<div style="margin-top: 50px;">
  <%= link_to t(:Advanced_search), que_cocinar_hoy_recetas_path %> |
  <%= link_to t(:Back), request.env["HTTP_REFERER"] %>
</div>