<h1 class="title">Receta de <%= @receta.user.login %></h1>


<div style="margin-top: 10px;">
	<div style="float:left; width: 250px;  text-align:center;">
		<%if !@receta.photo_file_name.nil? %> 
			<%= image_tag @receta.photo.url(:small) %>
		<% else %>
			<%= image_tag ('others/no_photo.jpg')%>
		<% end %>
	</div>

	<div style="float:left; width: 300px;">
  		<div style="text-align:center; padding-bottom: 17px;">
  			<b><%=h @receta.name %></b>
		</div>
		
		<div>
		  Categoría:
		  <%=h @receta.category.name %>
		</div>
		
		
		<div style="padding-top:7px; padding-bottom: 7px;">
		  Plato típico de <%= h @receta.town %> (<%=h @receta.country %>)
		</div>

  		<div style="padding-top:7px; padding-bottom: 7px;">
			Tiempo necesario para preparar el plato:
  			<%=h @receta.duration %> minutos
 		</div>				
		
		<div id="rating_stars" style="height:50px;">		
	  		<div class="puntuation">
				<b>Puntuation:</b>
	 			<%= number_with_precision( Rating.rating(@receta, 'Receta'), :precision => 1) %>/5 
				(<%= num_votes(Rating.number_of_votes('Receta', @receta))%>)
			</div>

			<div id="star-ratings-block">
				<div style="float:left">
			    <%= render :partial => "rating/rating",
			 		:locals => { :obj => @receta, :type => 'Receta' } %> 
				</div>
			</div>
		</div>
		<div id="rating_status" style="color:green;"></div>
		
 	</div>
</div>


<div style="margin-left: 10px;">
<div style="padding-top: 18px; clear:left;">
  	<span class="title_span">Breve descripción del plato:</span>
	<div style="padding-left: 10px;"><%=h @receta.description %></div>
</div>

<div style="clear:left; padding-top: 20px;">
	<span class="title_span">Ingredientes: </span>
	<ul style="margin-top: 5px;">
		<% for ingredient in @ingredients %>
			<%if !ingredient.name.empty? %><li><%= ingredient.name %> </li> <%end%>
		<% end %>
	</ul>
</div>


<div style="padding-top: 0px;">
	<span class="title_span">Pasos:</span>
	<ul style="margin-top:5px;">
	<% for step in @steps %>
		<%if !step.explanation.empty? %><li><%= step.explanation %> </li> <%end%>
	<% end %>
	</ul>
</div>


<div style="padding-top: 15px;">
<%= link_to 'Editar', edit_receta_path(@receta) %> |
<%= link_to 'Volver', recetas_path %>
</div>
</div>