
<div>
  <div class="title">
  	<b>Name:</b>
  	<%=h @receta.name %>
  </div>


  <div class="puntuation">
	<b>Puntuation:</b>
  	<%=h @receta.puntuation %>
 </div>
</div>

Minifoto
<%= image_tag @receta.photo.url(:small) %>

<p>
Ingredientes: 
<ul>
<% for ingredient in @ingredients %>
	<li>- <%= ingredient.name %> </li>
<% end %>
</ul>
</p>

<p>
Pasos:
<ul style="padding-top: 0px;">
<% for step in @steps %>
	<li>- <%= step.explanation %> </li>
<% end %>
</ul>
</p>



<div>&nbsp;</div>

<div>
<p>
  <b>Description:</b>
  <%=h @receta.description %>
</p>
</div>

<p>
  <b>Category:</b>
  <%=h @receta.category_id %>
</p>

<p>
  <b>User:</b>
  <%=h @receta.user_id %>
</p>


<%= link_to 'Edit', edit_receta_path(@receta) %> |
<%= link_to 'Back', recetas_path %>
