<% title title %>
<h2 class="title"><%= yield(:title) %></h2>

<table class="recetas_table messages" style="width:570px">
  <tr>
	  <th>Avatar</th>
	  <th>Nick</th>
	  <th><%= t(:Recetas)%></th>
    <% if params[:option] != 'invitados' %>
  	  <th><%= t(:invite)%></th>
    <% end %>
	  <th style="background:none;"></th>
	</tr>
  <% users.each_with_index do |user,i| %>
	<tr class="<%= cycle('odd','par')%>">
	  <td><%= image_tag(user.avatar.url(:small)) %></td>
  	  <td><%= link_to user.login, user_path(user) %></td>
	  <td><%= user.recetas.count %></td>	
    <% if params[:option] != 'invitados' %>
        <td id="accept_or_deny">
	  	    <% if params[:option] == "mis_amigos" %>
              <%= deny_friendship_link(user) %>
	  	    <% elsif params[:option] == "invitaciones_recibidas" %>
              <%= accept_friendship_link(user) %>
              <%= deny_friendship_link(user) %>
	  	    <% elsif params[:option] == "invitar" %>
              <%= invite_user_link(user, "my_friend_link_#{i}", "user_link_#{user.id}") %>
            <% end %>
          </td>
	  	  <td>
		<% end %>
		  <div style="width: 20px;">
  	    <%= image_tag('web/spinner.gif', :id => "spiner_my_friend_link_#{i}",
         :style=> 'display:none')%>
      </div>
    </td>
	</tr>
  <% end %>
</table>