<h1 class="title"><%= title %></h1>
<table>
  <% for user in users %>
    <tr>
	  <th></th>
	  <th>Nick</th>
	  <th>Puntuación</th>
	  <th>Recetas publicadas</th>
	  <th></th>
	</tr>
	<tr>
	  <td><%= image_tag(user.avatar.url(:small)) %></td>
  	  <td><%= link_to user.login, user_path(user) %></td>
	  <td><%= user.puntuation %>/5</td>
	  <td><%= user.recetas.count %></td>	
	  <td><span id="my_friend_<%=user.id%>"></span><td>
      <td id="accept_or_deny">
	    <% if params[:option] == "mis_amigos" %>
          <%= deny_friendship_link(user) %>
	    <% elsif params[:option] == "invitaciones_recibidas" %>
          <%= accept_friendship_link(user) %>
          <%= deny_friendship_link(user) %>
	    <% elsif params[:option] == "invitar" %>
          <%= invite_user_link(user) %>
        <% end %>
      </td>
	  <td>
	    <%= image_tag('web/spinner.gif', :id => "spiner_#{user.id}",
          :style=> 'display:none;')%>
      </td>
	</tr>
  <% end %>
</table>
