<% title "#{t(:published_recipes_of)} #{@user.login}" %>
<h2 class="title"><%= yield(:title) %></h2>

<table class="recetas_table" style="width:570px;">		
  <tr>
    <th><%= order_recetas_links('Plato', 'name') %></th>
    <th><%= order_recetas_links('Puntuación', 'ratings.rating') %></th>
    <th><%= order_recetas_links('Categoría', 'categories.name') %></th>
    <th><%= order_recetas_links('Plato', 'created_at') %></th>
  </tr>

<% for receta in @recetas %>
  <tr class="<%= cycle('odd','par')%>" >
    <td><%= link_to receta.name,receta %></td>
    <td>
		<%= number_with_precision( Rating.rating(receta, 'Receta'), :precision => 1) %>/5 
		(<%= num_votes(Rating.number_of_votes('Receta', receta))%>)
	</td>
    <td><%=h receta.category.name %></td>
    <td><%=h receta.created_at.to_s(:date) %></td>
  </tr>
<% end %>
</table>