<h1 class="title"> <%= t(:info_about)%> <%= @user.login %> </h1>

<div class="user_box">
	<div class="user_info">
		<%= image_tag @user.avatar.url(:smalL) %><br/>
		<div class="user_participation">
			<%= t(:number_of_recetas)%>: <%= @user.recetas.count %>
			<%= t(:number_of_posts)%>: <%= @user.number_of_posts %>
		</div>
	</div>

	<div class="user_data">
		<div class="form_div" style="padding-top:15px;">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag t(:name) %></span><br/>
				<%=h @user.name %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag t(:last_name) %></span><br/>
				<%=h @user.surname %>
			</div>
		</div>

		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag 'login' %></span><br/>
				<%=h @user.login %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag 'email' %></span><br/>
				<%=h @user.email %>
			</div>
		</div>

		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag t(:country) %></span><br/>
				<%=h @user.country %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag t(:town) %></span><br/>
				<%=h @user.town %>
			</div>
		</div>
	</div>
</div>

<% if can_edit_user(@user) %>
  <div id="edit_user_link">
	  <%= link_to t(:Edit), edit_user_path(@user) %>
  </div>
<% end%>