<% if can_edit_user(@user) %>
	<ul class="nav_buttons">
	  <li>
			<%= link_to t(:Edit), edit_user_path(@user) %>
	  </li>
  </ul>
<% end%>


<% title "#{t(:info_about)} #{@user.login}"%>
<h2 class="title"><%= yield(:title) %></h2>

<div class="user_box">
	<div class="user_info">
		<%= image_tag @user.avatar.url(:smalL) %><br/>
		<div class="user_participation">
			<%= t(:number_of_recetas)%>: <%= @user.recetas.count %>
			<%= t(:number_of_posts)%>: <%= @user.number_of_posts %>
			<%= t(:puntuation)%>: <%= number_with_precision(@user.recetas_avg,:precision => 1) %>/5<br/>
			<%= link_to t(:view_recetas), mis_recetas_user_path(@user) %><br/>
      <%= invite_user_link(@user, "my_friend_link", "user_link_#{@user.id}") %>			
	    <%= image_tag('web/spinner.gif', :id => "spiner_my_friend_link_",
          :style=> 'display:none;')%>
		</div>
	</div>

	<div class="user_data">
		<div class="form_div" style="padding-top:15px;">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag t(:name) %></span><br/>
				<%=h @user.name %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag t(:last_name) %></span><br/>
				<%=h @user.surname %>
			</div>
		</div>

		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag 'login' %></span><br/>
				<%=h @user.login %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag 'email' %></span><br/>
				<%=h @user.email %>
			</div>
		</div>

		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag t(:country) %></span><br/>
				<%=h @user.country %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag t(:town) %></span><br/>
				<%=h @user.town %>
			</div>
		</div>
	</div>
</div>