<% if can_edit_user(@user) %>
	<ul class="nav_buttons">
	  <li>
			<%= link_to t(:Edit_personal_data), edit_user_path(@user) %>
	  </li>
	</ul>
<% end %>



<% title "#{t(:info_about)} #{@user.login}"%>
<h2 class="title"><%= yield(:title) %></h2>

<div class="user_box">
	<div class="user_info">
		<%= image_tag @user.avatar.url(:smalL) %><br/>
		<%= invite_user_link(@user, "my_friend_link", "user_link_#{@user.id}") %>
		
		<div class="user_participation">
			<%= @user.login %> <br/>
			<%= t(:Recetas_avg)%>: <%= @user.recetas_avg.to_f %>/5<br/>
			<%= t(:Advices_avg)%>: <%= @user.advices_avg.to_f %>/5<br/>
			<%= t(:Restaurants_avg)%>: <%= @user.restaurants_avg.to_f %>/5<br/>

      <%= invite_user_link(@user, "my_friend_link", "user_link_#{@user.id}") %>			
	    <%= image_tag('web/spinner.gif', :id => "spiner_my_friend_link",
          :style=> 'display:none;')%>
		</div>
	</div>

	<div class="user_data">
		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= label_tag t(:country) %></span><br/>
				<%=h @user.country %>
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= label_tag t(:town) %></span><br/>
				<%=h @user.town %>
			</div>
		</div>

		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= t(:number_of_recetas)%>:</span><br/>
				<%= @user.recetas.count %> (<%= link_to t(:view), recetas_user_path(@user) %>)
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= t(:number_of_advices)%>:</span><br/>
				<%= @user.advices.count %> (<%= link_to t(:view), consejos_user_path(@user) %>)
			</div>
		</div>

		<div class="form_div">
			<div class="form_col1_show">
				<span class="form_span"><%= t(:number_of_restaurants)%>:</span><br/>
				<%= @user.restaurants.count %> (<%= link_to t(:view), restaurantes_user_path(@user) %>)
			</div>

			<div class="form_col2_show">
				<span class="form_span"><%= t(:number_of_posts)%>:</span><br/>
				<%= @user.number_of_posts %>
			</div>
		</div>



	</div>
</div>