<h1 class="title"> Ficha de <%= @user.login %> </h1>

<div style="margin-top: 10px;">
	<div style=" float:left; width: 150px; text-align:center; padding-top: 20px;">
		<%= image_tag @user.avatar.url(:smalL) %><br/>
		<div style="padding-top: 4px;">
			Número de recetas: <%= @user.recetas.count %>
			Número de posts: <%= @user.number_of_posts %>
		</div>
	</div>

	<div style="float:left; width:380px; padding-left: 40px;">
		<div class="form_div" style="padding-top:15px;">
			<div class="form_col1">
				<span class="form_span"><%= label_tag 'nombre' %></span><br/>
				<%=h @user.name %>
			</div>

			<div class="form_col2">
				<span class="form_span"><%= label_tag 'apellidos' %></span><br/>
				<%=h @user.surname %>
			</div>
		</div>


		<div class="form_div">
			<div class="form_col1">
				<span class="form_span"><%= label_tag 'login' %></span><br/>
				<%=h @user.login %>
			</div>

			<div class="form_col2">
				<span class="form_span"><%= label_tag 'email' %></span><br/>
				<%=h @user.email %>
			</div>
		</div>


		<div class="form_div">
			<div class="form_col1">
				<span class="form_span"><%= label_tag 'País' %></span><br/>
				<%=h @user.country %>
			</div>

			<div class="form_col2">
				<span class="form_span"><%= label_tag 'Localidad' %></span><br/>
				<%=h @user.town %>
			</div>
		</div>
	</div>
</div>

<div style="clear:left; padding-top: 60px; margin-left: 10px;">
	<%= link_to 'Editar', edit_user_path(@user) %>
</div>

