<% cache 'best_advices' do %>
  <h3><%= t(:best_advices) %></h3>
  <ul>
    <% for advice in Advice.top %>
	    <li>
	      <%= link_to truncate(advice.name, :length => 20), advice_path(advice) %>
		    <%= t(:by)%> <%= link_to advice.user.login, user_path(advice.user) %> 
		    (<%= advice.rating %>/5) 
      </li>
    <% end %>
  </ul>
<%end %>

