<% cache 'last_restaurants_voted' do %>
  <h3><%= t(:Last_restaurants_voted) %></h3>
  <ul>
    <% for restaurant in Restaurant.last_voted %>
	    <li>
	      <%= link_to restaurant.name, restaurant_path(restaurant) %>
		    <%= t(:by)%> <%= link_to restaurant.user.login, user_path(restaurant.user) %> 
		    (<%= restaurant.rating %>/5) 
      </li>
    <% end %>
  </ul>
<%end %>

