<% cache 'last_recipes_voted' do %>
  <h3><%= t(:Last_recipes_voted) %></h3>
  <ul>
    <% for receta in Receta.last_voted %>
	    <li>
	      <%= link_to receta.name, receta_path(receta) %>
		    <%= t(:by)%> <%= link_to receta.user.login, user_path(receta.user) %> 
		    (<%= receta.rating %>) 
      </li>
    <% end %>
  </ul>
<%end %>

