<h1>Listing ingredients</h1>

<table>
  <tr>
    <th>Receta_id</th>
    <th>Name</th>
  </tr>

<% for ingredient in @ingredients %>
  <tr>
    <td><%=h ingredient.receta_id %></td>
    <td><%=h ingredient.name %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ingredient', new_ingredient_path %>
