<h1>Editing friend</h1>

<% form_for(@friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :friend_id %><br />
    <%= f.text_field :friend_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @friend %> |
<%= link_to 'Back', friends_path %>
