<% form_for(@restaurant, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :name, t(:Name) %><br />
	    <%= f.text_field :name, :size => "22" %>
		</div>
	</div>
	
  <div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :original_country, t(:Original_country) %><br />
	    <%= f.text_field :original_country, :size => "22" %>
		</div>

		<div class="form_col2">
	    <%= f.label :rest_category_id, t(:Specialty) %><br />
	  	<%= f.collection_select :rest_category_id, @rest_categories, :id, :name %>
		</div>
	</div>		

  <div class="clear"></div><br/>


	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :creator_rating, t(:creator_rating) %><br />
	  	<%= f.text_field :creator_rating, :size => "5" %>/5
		</div>

		<div class="form_col2">
		  <div>
		    <%= f.label :avg_price, t(:Avg_price) %><br />
		  	<%= f.text_field :avg_price , :size => "5"%>
        €
		  </div>
		</div>
	</div>

  <div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :photo, t(:Photo) %><br />
		  <%= f.file_field :photo %>
		</div>
	</div>

  <div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :country, t(:Country) %><br />
	    <%= f.text_field :country, :size => "22" %>
		</div>

		<div class="form_col2">
	    <%= f.label :town, t(:Town) %><br />
	    <%= f.text_field :town, :size => "22" %>
		</div>
	</div>
	
	<div class="clear"></div><br/>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :address, t(:Address) %><br />
	    <%= f.text_field :address, :size => 71 %>
		</div>
	</div>
	
	<div class="clear"></div><br/>


	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :google_maps_code, t(:google_maps_code) %><br />
	    <%= f.text_area :google_maps_code, :style => "width:502px;" %>
		</div>
	</div>
	
	<div class="clear"></div><br/>

	<div class="form_div">
    <%= f.label :description, t(:Description) %><br />
    <%= f.text_area :description, :style => "width: 504px" %>
	</div>

  <div class="clear"></div><br/>

  <p class="clear">
    <% if action_name == 'new' %>
		<%= f.submit t(:create_restaurant) %> 
	<% else %>
		<%= f.submit t(:update_restaurant) %> 
	<% end %>| 
  	<%= link_to t(:Back), restaurants_path %>
  </p>
<% end %>