<table class="recetas_table" style="width:570px;">		
  <tr>
    <th><%= t(:Name) %></th>
    <th><%= t(:Puntuation) %></th>
    <th><%= t(:Town_list) %></th>
    <th><%= t(:Typical_of) %></th>
    <th><%= t(:Specialty) %></th>
    <th><%= t(:Author) %> </th>

  </tr>

<% for restaurant in @restaurants %>
  <tr class="<%= cycle('odd','par')%>" >
    <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
    <td>
    	<%= number_with_precision( Rating.rating(restaurant, 'Restaurant'), :precision => 1) %>/5 
	    (<%= num_votes(Rating.number_of_votes('Restaurant', restaurant))%>)
	  </td>
    <td><%=h restaurant.town %></td>
    <td><%=h restaurant.original_country %></td>
    <td><%=h restaurant.rest_category.name %></td>
    <td><%= link_to restaurant.user.login, user_path(restaurant.user) %></td>

  </tr>
<% end %>
</table>

