<% title "#{@restaurant.name} - #{t(:Restaurant)}" %>

<h1 class="title">
	<%= h @restaurant.name %>
</h1>

<div id="ad_block_hor">
  <%= render :partial => '/shared/ads/link_unit_top'%>
</div>

<div class="receta_show_intro">
	<div class="receta_show_photo">
    <%= restaurant_show_photo(@restaurant)%><br/>
	</div>

	<div class="receta_show_info">
		<div class="autor">
		  <%= t(:Restaurant_by) %>:
		  <%= link_to @restaurant.user.login, user_path(@restaurant.user) %>
		  <%= invite_user_link(@restaurant.user, "my_friend_link",
		   "user_link_#{@restaurant.user.id}", true) %>
		  <%= image_tag('web/spinner.gif', :id => 'spiner_my_friend_link', :style=> 'display:none;') %>
		</div>
		
		<div>
		  <%= t(:Typical_cooking_of) %>:
		  <%= h @restaurant.original_country %>
		</div>


		<div>
		  <%= t(:Specialty) %>:
		  <%= link_to @restaurant.rest_category.name, restaurantes_especialidad_path(@restaurant.rest_category) %>
		  
		</div>
		
		<div class="receta_show_origin">
		  <%= "#{t(:Location)}: #{@restaurant.town} (#{@restaurant.country})"%> <br/>
      <%= h @restaurant.address %><br/>
	    <% unless @restaurant.google_maps_code.blank? %>
		    <%= link_to_redbox( t(:view_google_maps), "google_maps_code") %>
		    <div id="google_maps_code" style="display:none;">
					<%= link_to_close_redbox(image_tag('web/close.png'), :class => 'close_button') %>
			    <div class="redbox_content_map">
			      <%= @restaurant.google_maps_code %>
			    </div>
			  </div>
	    <% end %>
		</div>

 		<div class="receta_show_duration">
			<%= t(:Avg_price)%>:
 			<%= h @restaurant.avg_price %> euros
		</div>				
		
 		<div class="receta_show_people">
  		<%= t(:creator_rating)%>:
	  	<%= h @restaurant.creator_rating %>
	  </div>						
		
		<div id="rating_stars" style="height:50px;">		
	  	<div class="puntuation">
			<b><%= t(:puntuation)%>:</b>
  	 		<%= number_with_precision( Rating.rating(@restaurant,'Restaurant'), :precision => 1) %>/5 
	  		(<%= num_votes(Rating.number_of_votes('Restaurant', @restaurant))%>)
		  </div>

			<div id="star-ratings-block">		
				<div>
			    <%= render :partial => "rating/rating",
			 		:locals => { :obj => @restaurant, :type => 'Restaurant' } %> 
				</div>
			</div>
		</div>
		<div id="rating_status" style="color:green;"></div>	
		<%= render :partial => 'shared/social_buttons', :locals => {:obj => @restaurant }%>
 	</div>
</div>

<div class="clear"></div><br/><br/>
<div class="receta_show_body">
  <div class="description_div">
  	<span class="title_span"><b><%= t(:small_rest_description)%>:</b></span>
	  <div class="description_text"><p><%= h @restaurant.description %></p></div>
  </div>

  <div id="related">
    <span class="title_span"><b><%= t('related_advices') %>:</b></span>
    <ul>
      <% Restaurant.all.shuffle[0..4].each do |restaurant| %>
        <li>
          <%= link_to rand(2) > 0 ? restaurant.name : "#{t('Restaurant')} #{restaurant.name.downcase}", restaurant_path(restaurant) %>
        </li>
      <% end %>
      <li>
        <%= link_to "#{t('restaurants_of')} #{@restaurant.rest_category.name.downcase}",
          restaurantes_especialidad_path(@restaurant.rest_category) %>
      </li>      
    </ul>
  </div>

  <br/>

	<div id="ad_block_bottom">
    <div><%= render :partial => '/shared/ads/link_unit_bottom' %></div>
    <div><%= render :partial => '/shared/ads/ad_bottom' %></div>
	</div>


  <div class="receta_show_links">
	  <% if current_user && (@restaurant.user == current_user || current_user.admin?)%>
      <%= link_to t(:Edit), edit_restaurant_path(@restaurant) %> |
    <% end %>
    <%= link_to t(:view_more_restaurants), restaurants_path %>
		<% if current_user && current_user.admin? %>
			| <%= link_to t(:Destroy), @restaurant,
			 	:confirm => t(:are_you_sure), :method => :delete %>
		<% end %>
  </div>
</div>


<%= render :partial => 'comments/commenting_system', :locals => {:commentable => @restaurant}%>