<% title t(:Advices_searcher) %>
<h2 class="title"><%= yield(:title) %></h2>

<% form_for :advice, :url => resultados_advices_path, :method => :get do |f| %>
	<div class="form_div">
	   <div class="form_col1">
	    <%= f.label :title, t(:Title) %><br />
	    <%= f.text_field :title, :size => 22 %>
	  </div>
	</div>

	<div class="clear"></div>

	<div class="form_div">
		<div class="form_col1">
	    <%= f.label :description, t(:Description) %><br />
	    <%= f.text_field :description, :size => "22" %>
		</div>
	</div>		

  <div class="clear"></div><br/>


	<div class="form_div">
	  <div class="form_col1"
	    <%= label_tag :tags %><br />
	    <%= f.text_field :tags, :size => 22 %>
	  </div>
	</div>

	<p class="clear">
    <%= submit_tag t(:Search) %>
	</p>
<% end %>