<% title t(:Last_published_advices) %>
<h1><%= yield(:title) %></h1>

<%= render :partial => 'advices',
   :locals => {:recetas => @advices} %>


<br/><br/>
<div class="advices_col1">
	<div>
	   <%= t(:Advices_intro)%><br/>
		 <%= t(:Advices_intro2)%>
	</div>
</div>
<div class="advices_col2">
  <h2><%= t(:Most_commented_advices) %></h2>
	<div>
		<div class="cloud">
	    <% tag_cloud @cloud_advices, %w(css1 css2 css3 css4) do |tag, css_class| %>
	      <%= link_to tag.name,
	        resultados_advices_path(:advice => '', :tag_list => tag.name),
	        :class => css_class %>
	    <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>
<%= render :partial => 'nav_buttons' %>