<% title t(:Advices_results) %>
<h1><%= yield(:title) %></h1>

<% if @advices.size > 0 %>
  <%= render :partial => 'advices',
     :locals => {:recetas => @advices} %>
<% else %>
  <p class="no_results_found">
    <%= t(:advices_no_results_found) %>
  </p>
<% end %>

<br/><br/>
<p>
  <%= link_to t(:Back), advices_path %> |
  <%= link_to t(:Seach), buscador_advices_path	%>																																																																																																					 
</p>
