<% title "#{t(:Advice)} - #{@advice.name}"  %>
<h1>
  <span class="advice_title"><%=h @advice.name %></span>
</h1>

<p>
  <%= t(:Advice_by)%>
  <%= link_to @advice.user.login, user_path(@advice.user) %>:
</p>

<p>
 <b><%= t(:Description)%>:</b><br/>
	<%= h @advice.description %> 
</p>



