<% title "#{@advice.name} - #{t(:Advice)}" %>
<h1>
  <span class="advice_title"><%=h @advice.name %></span>
</h1>

<div id="ad_block_hor">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-6226687068928040";
	/* Banner horizontal www.antesdecocinar.com */
	google_ad_slot = "0448318974";
	google_ad_width = 468;
	google_ad_height = 60;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<p>
  <b><%= t(:Advice_by) %>:</b><br/>
  <%= link_to @advice.user.login, user_path(@advice.user) %>
  <%= invite_user_link(@advice.user, "my_friend_link", "user_link_#{@advice.user.id}", true) %>
  <%= image_tag('web/spinner.gif', :id => 'spiner_my_friend_link', :style=> 'display:none;') %>
</p>

<div id="rating_stars" style="height:50px;">		
		<div class="puntuation">
		<b><%= t(:puntuation)%>:</b>
		<%= number_with_precision( Rating.rating(@advice, 'Advice'), :precision => 1) %>/5 
		(<%= num_votes(Rating.number_of_votes('Advice', @advice))%>)
	</div>

	<div id="star-ratings-block">		
		<div>
	    <%= render :partial => "rating/rating",
	 		:locals => { :obj => @advice, :type => 'Advice' } %> 
		</div>
	</div>
</div>
<div id="rating_status" style="color:green;"></div>	


<p>
 <b><%= t(:Description)%>:</b><br/>
	<%= h @advice.description %> 
</p>

<p>
 <b>Tags:</b><br/>
	<%= advices_tags @advice %> 
</p>

<div id="ad_block_bottom">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-6226687068928040";
	/* Banner pie www.antesdecocinar.com */
	google_ad_slot = "1466003618";
	google_ad_width = 468;
	google_ad_height = 15;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<p>
  <%= render :partial => 'shared/social_buttons', :locals => {:obj => @advice}%>
</p>

<% if current_user && (@advice.user == current_user || current_user.admin?)%>
  <%= link_to t(:Edit), edit_advice_path(@advice) %> |
<% end %>
<%= link_to t(:Back), advices_path %>
<% if current_user && current_user.admin? %>
	| <%= link_to t(:Destroy), @advice,
	 	:confirm => t(:are_you_sure), :method => :delete %>
<% end %>

<%= render :partial => 'comments/commenting_system', :locals => {:commentable => @advice}%>


