<% title "#{t(:Advice)} - #{@advice.title}"  %>
<h2 class="title"><%= yield(:title) %></h2>

<p>
  <b><%= t(:Title) %>:</b><br/>
  <%=h @advice.name %>
</p>

<p>
 <b><%= t(:Description)%>:</b><br/>
	<%= h @advice.description %> 
</p>



