<% title "#{@advice.name} - #{t(:Advice)}" %>
<h1>
  <span class="advice_title"><%=h @advice.name %></span>
</h1>

<div id="ad_block_hor">
  <%= render :partial => '/shared/ads/link_unit_top'%>
</div>

<p>
  <b><%= t(:Advice_by) %>:</b><br/>
  <%= link_to @advice.user.login, user_path(@advice.user) %>
  <%= invite_user_link(@advice.user, "my_friend_link", "user_link_#{@advice.user.id}", true) %>
  <%= image_tag('web/spinner.gif', :id => 'spiner_my_friend_link', :style=> 'display:none;') %>
</p>

<div id="rating_stars" style="height:50px;">		
		<div class="puntuation">
		<b><%= t(:puntuation)%>:</b>
		<%= number_with_precision( Rating.rating(@advice, 'Advice'), :precision => 1) %>/5 
		(<%= num_votes(Rating.number_of_votes('Advice', @advice))%>)
	</div>

	<div id="star-ratings-block">		
		<div>
	    <%= render :partial => "rating/rating",
	 		:locals => { :obj => @advice, :type => 'Advice' } %> 
		</div>
	</div>
</div>
<div id="rating_status" style="color:green;"></div>	
<%= render :partial => 'shared/social_buttons', :locals => {:obj => @advice}%>

<br/>
<br/>

<p>
 <b><%= t(:Description)%>:</b><br/>
	<%= h @advice.description %> 
</p>

<div id="related">
  <span class="title_span"><b><%= t('related_advices') %>:</b></span>
  <ul>
    <% Advice.all.shuffle[0..4].each do |advice| %>
      <li><%= link_to rand(2) > 0 ? advice.name : "#{t('Advice')} #{advice.name.downcase}", advice_path(advice) %></li>
    <% end %>
  </ul>
</div>



<p>
 <b>Tags:</b><br/>
	<%= advices_tags @advice %> 
</p>

<div id="ad_block_bottom">
  <div><%= render :partial => '/shared/ads/link_unit_bottom' %></div>
  <div><%= render :partial => '/shared/ads/ad_bottom' %></div>
</div>


<% if current_user && (@advice.user == current_user || current_user.admin?)%>
  <%= link_to t(:Edit), edit_advice_path(@advice) %> |
<% end %>
<%= link_to t(:view_more_advices), advices_path %>
<% if current_user && current_user.admin? %>
	| <%= link_to t(:Destroy), @advice,
	 	:confirm => t(:are_you_sure), :method => :delete %>
<% end %>

<%= render :partial => 'comments/commenting_system', :locals => {:commentable => @advice}%>


