<% title "#{t(:Advice)} - #{@advice.name}"  %>
<h2 class="title">
  <%= t(:Advice_by)%>
  <%= link_to @advice.user.login, user_path(@advice.user) %>:
</h2>


<p>
  <b><%= t(:Title) %>:</b><br/>
  <span class="advice_title"><%=h @advice.name %></span>
</p>

<p>
  <b><%= t(:Author) %>:</b><br/>
  <%= link_to @advice.user.login, user_path(@advice.user) %>
  <%= invite_user_link(@advice.user, "my_friend_link", "user_link_#{@advice.user.id}", true) %>
  <%= image_tag('web/spinner.gif', :id => 'spiner_my_friend_link', :style=> 'display:none;') %>
</p>

<div id="rating_stars" style="height:50px;">		
		<div class="puntuation">
		<b><%= t(:puntuation)%>:</b>
		<%= number_with_precision( Rating.rating(@advice, 'Advice'), :precision => 1) %>/5 
		(<%= num_votes(Rating.number_of_votes('Advice', @advice))%>)
	</div>

	<div id="star-ratings-block">		
		<div>
	    <%= render :partial => "rating/rating",
	 		:locals => { :obj => @advice, :type => 'Advice' } %> 
		</div>
	</div>
</div>
<div id="rating_status" style="color:green;"></div>	


<p>
 <b><%= t(:Description)%>:</b><br/>
	<%= h @advice.description %> 
</p>

<p>
 <b>Tags:</b><br/>
	<%= h @advice.tag_list %> 
</p>


<p>
  <%= render :partial => 'shared/social_buttons', :locals => {:obj => @advice}%>
</p>

<% if current_user && (@advice.user == current_user || current_user.admin?)%>
  <%= link_to t(:Edit), edit_advice_path(@advice) %> |
<% end %>
<%= link_to t(:Back), advices_path %>

<%= render :partial => 'comments/commenting_system', :locals => {:commentable => @advice}%>


