<% title "#{t(:Advice)} - #{@advice.name}"  %>
<h2 class="title">
  <%= t(:Advice_by)%>
  <%= link_to @advice.user.login, user_path(@advice.user) %>:
</h2>

<p>
  <b><%= t(:Title) %>:</b><br/>
  <span class="advice_title"><%=h @advice.name %></span>
</p>

<p>
 <b><%= t(:Description)%>:</b><br/>
	<%= h @advice.description %> 
</p>



