<h1>Editing step</h1>

<% form_for(@step) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :receta_id %><br />
    <%= f.text_field :receta_id %>
  </p>
  <p>
    <%= f.label :explanation %><br />
    <%= f.text_area :explanation %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @step %> |
<%= link_to 'Back', steps_path %>
