<h1>Listing forum_posts</h1>

<table>
  <tr>
    <th>Forum cat l2</th>
    <th>User</th>
    <th>Title</th>
  </tr>

<% for forum_post in @forum_posts %>
  <tr>
    <td><%=h forum_post.forum_cat_l2_id %></td>
    <td><%=h forum_post.user_id %></td>
    <td><%=h forum_post.title %></td>
    <td><%= link_to 'Show', forum_post %></td>
    <td><%= link_to 'Edit', edit_forum_post_path(forum_post) %></td>
    <td><%= link_to 'Destroy', forum_post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New forum_post', new_forum_post_path %>
