<% title "#{t(:Forums)} > #{@forum_post.forum_cat_l2.title} > #{@forum_post.title}" %>

<h2 class="title small" >
	<%= truncate(@forum_post.title,:length =>65) %> 
</h2>
<%= link_to t(:Forums), forum_cat_l2s_path %> > 
<%=link_to  @forum_post.forum_cat_l2.title, @forum_post.forum_cat_l2 %> 


<ul class="nav_buttons">
  <li>
		<%= link_to t(:New_forum_reply),new_forum_post_forum_reply_path(@forum_post)  %>
  </li>
</ul>


<table class="forum_post_table" border="1" cellspacing="0" cellpadding="4" >
  <tr>
    <%= render :partial => 'forum_post_item', :locals => {:item => @forum_post}%>
  </tr>
  <% @forum_post.forum_replies.each do |forum_reply| %>
    <tr id='<%="forum_reply_#{forum_reply.id}"%>'>
      <%= render :partial => 'forum_post_item', :locals => {:item => forum_reply}%>
    </tr>
  <% end %>
</table>	
<br/>

<%= link_to t(:Reply), new_forum_post_forum_reply_path(@forum_post)  %>
