<h2 class="forum nav" >
  <%= link_to t(:Forums), forum_cat_l2s_path %> > 
  <%=link_to  @forum_post.forum_cat_l2.title, @forum_post.forum_cat_l2 %> >
	<%= @forum_post.title %> 
</h2>

<div class="post_reply">
	<%= link_to t(:New_forum_reply),new_forum_post_forum_reply_path(@forum_post)  %>
</div>

<div class="clear"></div>

<table class="forum_post_table" border="1" cellspacing="0" cellpadding="4" >
  <tr>
    <%= render :partial => 'forum_post_item', :locals => {:item => @forum_post}%>
  </tr>
  <% @forum_post.forum_replies.each do |forum_reply| %>
    <tr id='<%="forum_reply_#{forum_reply.id}"%>'>
      <%= render :partial => 'forum_post_item', :locals => {:item => forum_reply}%>
    </tr>
  <% end %>
</table>	
<br/>

<%= link_to t(:Reply), new_forum_post_forum_reply_path(@forum_post)  %>
