<% form_for(@category, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.file_field :categoryphoto %><br />
  </p>

  <p>
    <% if action_name == 'new'%>
		<%= f.submit "Create" %>
  	<% else %>
		<%= f.submit "Update" %>
	<% end %>
</p>
<% end %>

<%= link_to 'Back', categories_path %>