<% form_for(@category, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, t(:Name) %>:<br />
    <%= f.text_field :name %>
  </p>

  <% if RAILS_ENV != 'production' %>
    <p>
  	  <%= f.label :categoryphoto, t(:Photo) %>:<br />
  	  <% unless @category.categoryphoto_file_size.blank? %>
    	  <%= image_tag @category.categoryphoto.url(:small) %>
        <br/>
      <% end %>
      <%= f.file_field :categoryphoto %><br />
    </p>
  <% end %>

  <p>
    <%= form_template_button(f) %>
  </p>
<% end %>

<%= link_to t(:Back), categories_path %>