<h1>Listing categories</h1>

<table>
  <tr>
    <th>Foto</th>
    <th style="width: 200px;">Nombre</th>
    <th>Opciones</th>

  </tr>

<% for category in @categories %>
  <tr>
    <td><%= image_tag category.categoryphoto.url(:small) %> </td>
	<td><%=h category.name %></td>
    <td><%= link_to 'Show', category %> |
        <%= link_to 'Edit', edit_category_path(category) %> |
        <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %>
