<% title "#{t(:Category)} - #{@category.name}"  %>
<h2 class="title"><%= yield(:title) %></h2>

<p>
  <b><%= t(:Name) %>:</b><br/>
  <%=h @category.name %>
</p>

<p>
 <b><%= t(:Photo)%>:</b><br/>
	<%= image_tag @category.categoryphoto.url(:small) %> 
</p>

<%= link_to t(:Edit), edit_category_path(@category) %> |
<%= link_to t(:Back), categories_path %>
