<h1>Listing forum_cat_l2s</h1>

<table>
  <tr>
    <th>Forum_cat_l1_id</th>
    <th>Title</th>
  </tr>

<% for forum_cat_l2 in @forum_cat_l2s %>
  <tr>
    <td><%=h forum_cat_l2.forum_cat_l1_id %></td>
    <td><%=h forum_cat_l2.title %></td>
    <td><%= link_to 'Show', forum_cat_l2 %></td>
    <td><%= link_to 'Edit', edit_forum_cat_l2_path(forum_cat_l2) %></td>
    <td><%= link_to 'Destroy', forum_cat_l2, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New forum_cat_l2', new_forum_cat_l2_path %>
