<% title "#{t(:Forums)} > #{@forum_cat_l2.title}" %>

<h1 class="title small" >
  <%= link_to t(:Forums), forum_cat_l2s_path %> > <%=h @forum_cat_l2.title %>
</h1>

<ul class="nav_buttons">
  <li>
    <%= link_to t(:New_post),  new_forum_cat_l2_forum_post_path(@forum_cat_l2) %>
  </li>
</ul>

<table class="forum_cat_table" border="1" cellspacing="0" cellpadding="4">
  <tr class="tr_title">
    <th style="width:700px;" class="th_title"><%= t(:Message)%></th>
    <th class="th_title"><%= t(:Replies)%></th>
    <th style="width: 200px;" class="th_title"><%= t(:Last_f)%></th>
  </tr>

	<% for forum_post in @forum_posts %>
	  <tr>
	    <td>
	  		<%= link_to forum_post.title , forum_post %><br/>
		  	<%= t(:by)%>	<%= link_to forum_post.user.login, user_path(forum_post.user) %> 
	  	</td>
	      <td style="text-align: center;"><%= forum_post.forum_replies.count %></td>
	      <td style="text-align: center;">
			  <%= forum_post.updated_at.to_s(:date)%><br/> 
			  <%= t(:by)%> <%= link_to last_user(forum_post).login, user_path(last_user(forum_post)) %>	
		  </td>
	  </tr>
	<% end %>
</table>	