<h3><%= link_to 'Foros', forum_cat_l2s_path %> > <%=h @forum_cat_l2.title %></h3><br/>

<table border="1" cellspacing="0" cellpadding="4">
  <tr >
    <th style="width:700px; background: #ABC">Mensaje</th>
    <th style="background: #ABC">Réplicas</th>
    <th style="width: 200px; background: #ABC">Última</th>
  </tr>

<% for forum_post in @forum_posts %>
  <tr>
    <td>
		<%= link_to forum_post.title , forum_post %><br/>
		por	<%= forum_post.user.name %> 
	</td>
    <td style="text-align: center;"><%= forum_post.forum_replies.count %></td>
    <td style="text-align: center;">
		<%= forum_post.user.updated_at.to_s(:date)%><br/> 
		por	<%= last_user(forum_post) %>	
	</td>

  </tr>
  <% end %>
</table>	

	
	
<!--
<%= link_to 'Edit', edit_forum_cat_l2_path(@forum_cat_l2) %> |
<%= link_to 'Back', forum_cat_l2s_path %>
-->
<%= link_to 'New post',  new_forum_cat_l2_forum_post_path(@forum_cat_l2) %>
