<div id="header" <%= homepage? ? '' : 'class=\'t\''%>>
	<div id="logo">
    <%= '<h1>' if homepage? %>
			<%= link_to SITE_NAME, '/' %>
    <%= '</h1>' if homepage? %>
  </div>
  <div id="menu">
    <ul>
	    <% if current_user && current_user.admin? %> 
			  <li>
    		  <%= link_to t(:Administration), admins_path %>
	      </li>
	    <% end %>
	    <li>
		    <%= link_to t(:News), noticias_path %>
	    </li>
			<li>
  		  <%= link_to t(:Recipes), recetas_path %>
	    </li>
		  <li>
		    <%= link_to t(:Advises), advices_path %>
	    </li>
		  <li>
		    <%= link_to t(:Restaurants), restaurants_path %>
		  </li>
		  <li>
	  	  <%= link_to t(:Forums), forum_cat_l2s_path %>
	    </li>
			<li>
    		<%= link_to t(:Contact), contacts_path %>
 	    </li>
    </ul>
  </div>
</div>	<!-- end #header -->