<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Recetas: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'recetas' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'rating' %>
  <%= stylesheet_link_tag 'noticias' %>
  <%= javascript_include_tag :defaults%>

</head>

<body>
	<div id="wrapper">
  	  <div id="header">
		<div id="logo">
	  	   <h1><%= link_to 'Mis recetas', '/' %></h1>
		</div>

		<div id="menu">
		   <ul>
			<li class="active">
				<%= link_to 'Noticias', :controller => "noticias", :action => "index" %>
			</li>
			<li>
				<%= link_to 'Recetas', :controller => "recetas", :action => "index" %>
			</li>
			<li>
				<%= link_to 'Consejos', :controller => "recetas", :action => "index" %>
			</li>
			<li>
				<%= link_to 'Restaurantes', :controller => "recetas", :action => "index" %>
			</li>

			<li>
				<%= link_to 'Foros', :controller => "forums", :action => "index" %>
			</li>
			<li>
				<%= link_to 'Contacto', :controller => "recetas", :action => "index" %>
			</li>
		  </ul>
	    </div>
	</div>	<!-- end #header -->


	<div id="page">
		<div id="content">
			<div class="post">	
					<p style="color: green; padding:0px; margin:0px;"><%= flash[:notice] %></p>
					<%= yield  %>
			</div>

		</div>
		<!-- end #content -->
		<div id="sidebar">
			<div id="sidebar-bgtop"></div>
			<div id="sidebar-content">
				<div id="sidebar-bgbtm">
				<ul>
					<li id="search">
						<h2>Buscar</h2>
						<% form_for :receta, :url => { :action => "resultados_busqueda" }   do |f| %>
							<fieldset>
							<%= f.text_field :name, :size => 24 %>
							<input type="submit" id="x" value="Buscar" />
							</fieldset>
						<% end %>
					</li>
					<li>
						<h2>Menú privado</h2>
						<ul>
							<li><%= log_in_out %> <% if !logged_in? %>
								/ <%= link_to 'Regístrate', '/signup' %> <% end %></li>	
							<% if logged_in? %>
							<li><a href="#">Mensajes privados</a></li>
							<li><%= link_to 'Mi ficha', current_user %></li>
							<li><a href="#">Mis recetas</a></li>
							<li><a href="#">Últimas participaciones</a></li>
							<% end %>
						</ul>
					</li>
				
					
					<li>
						<h2>Últimas recetas puntuadas</h2>
						<ul>
							<li><a href="#">Arroz a la cubana</a> por Antonio Pérez (4.0)</li>
							<li><a href="#">Marisco satinado</a></li>
							<li><a href="#">Huevo de nido</a></li>
							<li><a href="#">Tarta de la abuela</a></li>
						</ul>
					</li>			


					<li>
						<h2>Chefs mejor puntuados</h2>
						<ul>
							<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
							<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
							<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
							<li><a href="#">Antonio Pérez</a> 24 recetas (5.0)</li>
						</ul>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear:both; margin:0;"></div>
	</div>
	<!-- end #page -->
	
	</div>

	<div id="footer">
		<p>Mis recetas.com es un proyecto personal de <%= link_to 'Juan de Frías', '/'%></p>
</div>
</body>
</html>
