<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="<%= KEYWORDS %>">
	<meta name="description" content="<%= page_description %>">
	<meta http-equiv="content-language" content="es">
  <title><%="#{yield(:title) || controller.action_name} - " unless homepage?%> <%=SITE_NAME%></title>
	<%= meta_robots_tags %>
  <%= stylesheet_link_tag 'application' %>
	<!--[if IE]> <%= stylesheet_link_tag 'ie' %> <![endif]-->
	<!--[if gte IE 8]>
	<%= stylesheet_link_tag 'ie8' %>
	<![endif]-->
		
  <%= stylesheet_link_tag 'rating' %>
  <%= stylesheet_link_tag 'auto_complete' %>
  <%= javascript_include_tag :defaults %>
  <% if uses_redbox %>
  	<%= stylesheet_link_tag 'redbox' %>
    <%= javascript_include_tag 'redbox' %>
  <% end %>
</head>

<body>
	<div id="wrapper">
		<% if homepage? %>
			<%= render :partial => 'layouts/header' %>
		<% end %>
    <div id="page" <%= "class='no_homepage'" unless homepage? %>>
		  <div id="content" <%unless no_forums%>style="width:auto;"<%end%>>
			  <div class="post<%=  ' index' if main_index? %>">	
					<% unless flash.blank? %>
					  <div class="flash_message">
						  <%= my_flash_message(flash) %>
			      </div>	   
					<% end %>
				  <div class="clear"></div>
				  <%= yield  %>
			  </div>
		  </div> <!-- end #content -->
      <% if no_forums %>
		    <div id="sidebar">
				  <div id="sidebar-bgtop"></div>
				  <div id="sidebar-content">
					  <div id="sidebar-bgbtm">
					    <ul>
					      <li id="search">
						      <h3><%= t(:Search_title)%></h3>
							    <% form_for :receta, 
							    :url => { :controller => "recetas", :action => "resultados_busqueda" },
							    :html => {:id => 'search_form'}   do |f| %>
								    <fieldset>
								      <%= f.text_field :name, :size => 24, :value => "" %>
								      <%= f.submit t(:Search) %>
								    </fieldset>
           				<% end %>
					      </li>
        				<li>
				      	  <h3><%= t(:Privated_menu) %></h3>
        					<ul>
				      		  <li>
				              <%= log_in_out %> 
				              <% if !logged_in? %>
							    		  / <%= link_to t(:Register), signup_path %>
							        <% end %> 
							      </li>	
								    <% if logged_in? %>
  				          	<li><%= link_to t(:My_data), current_user %></li>
								      <li><%= link_to t(:Privated_messages), 	
          						  user_messages_path(current_user)%>
								        <span class="alert"><%= user_unread_messages %></span>
          						</li>
           						<li><%= link_to t(:My_recipes), recetas_user_path(current_user)%></li>
           						<li><%= link_to t(:My_advices), consejos_user_path(current_user)%></li>
           						<li><%= link_to t(:My_restaurants), restaurantes_user_path(current_user)%></li>
          						<li>
                        <%= link_to t(:My_friends),
 												amigos_user_path(current_user,:option => 'mis_amigos') %> 
                        <span class="alert"><%= invitations_number %></span>
	                    </li>
     	 							<% end %>
						     	</ul>
						    </li>
                <% if controller_name == "restaurants"%>
	         				<li>
	                  <%= render :partial => 'shared/best_restaurants'%>
	        				</li>
	        				<li>
	                  <%= render :partial => 'shared/best_restaurant_critics'%>
	        				</li>
                <% elsif controller_name == "advices" %>
	         				<li>
	                  <%= render :partial => 'shared/best_advices'%>
	        				</li>
	        				<li>
	                  <%= render :partial => 'shared/best_advicers'%>
	        				</li>
	              <% else %>
         				  <li>
                    <%= render :partial => 'shared/best_recipes'%>
        				  </li>			
        				  <li>
                    <%= render :partial => 'shared/best_voted_chefs'%>
         				  </li>
	              <% end %>
          		</ul>
        		</div>
				  </div>
 	  		</div> 	<!-- end #sidebar -->
      <% end %>
		<div class="clear"></div>
	  </div>	<!-- end #page -->	
		<% unless homepage? %>
			<%= render :partial => 'layouts/header' %>
		<% end %>
  </div>

  <div id="footer">
    <p>
      <%= t(:Footer_content, :site_name => SITE_NAME)%>
	    <%= link_to 'Juan de Frías', contacts_path %>
	  </p>
  </div>
  
  <!-- Google Analytics -->
  <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-6852766-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>

</body>
</html>
