<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Recetas: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'recetas' %>
  <%= stylesheet_link_tag 'application' %>

</head>
<body>
	<h1>Mis recetas</h1>
	
	<ul id="top_menu">
		<li><%= link_to 'Noticias', :controller => "recetas", :action => "index" %></li>
		<li><%= link_to 'Recetas', :controller => "recetas", :action => "index" %></li>
		<li><%= link_to 'Foros', :controller => "recetas", :action => "index" %></li>
		<li><%= link_to 'Restaurantes', :controller => "recetas", :action => "index" %></li>
		<li><%= link_to 'Contacto', :controller => "recetas", :action => "index" %></li>
	</ul>
	
	<div class="clear"></div>
	
	<div id="page_wrapper">
		<div id="right_menu"> 
			<h3>Menú privado</h3>
			<ul>
				<li><a href="#">Mensajes privados</a></li>
				<li><a href="#">Mi ficha</a></li>
				<li><a href="#">Mis recetas</a></li>
				<li><a href="#">Últimas participaciones</a></li>
			</ul>
			
			<br/>
			
			<h3>Últimas recetas</h3>
			<table class="last_recetas">
				<tr>
					<td class="receta_title">
						<a href="#">Arroz a la cubana</a><br/>
						<span class="autor">by Antonio Pérez</span>
					</td>
					<td style="width: 5%;">
						4.0
					</td>
				</tr>
				<tr>
					<td>
						<a href="#">Marisco satinado</a><br/>
						<span class="autor">by Antonio Pérez</span>
					</td>
					<td>
						5.0
					</td>
				</tr>
				<tr>
					<td>
						<a href="#">Huevo de nido</a><br/>
						<span class="autor">by Antonio Pérez</span>
					</td>
					<td>
						4.0
					</td>
				</tr>
				<tr>
					<td>
						<a href="#">Tarta de la abuela</a><br/>
						<span class="autor">by Antonio Pérez</span>
					</td>
					<td>
						2.0
					</td>
				</tr>
			</table>
			<br/>
			<h3> Chefs mejor puntuados </h3>
			<table class="last_recetas">
				<tr>
					<td><a href="#">Antonio Pérez</a><br/>
						<span class="autor">24 recetas</span>
					</td>
					<td style="width: 5%;">5.0</td>
				</tr>
				<tr>
					<td><a href="#">Antonio Pérez</a><br/>
						<span class="autor">24 recetas</span>
					</td>
					<td style="width: 5%;">5.0</td>
				</tr>
				<tr>
					<td><a href="#">Antonio Pérez</a><br/>
						<span class="autor">24 recetas</span>
					</td>
					<td style="width: 5%;">5.0</td>
				</tr>
				<tr>
					<td><a href="#">Antonio Pérez</a><br/>
						<span class="autor">24 recetas</span>
					</td>
					<td style="width: 5%;">5.0</td>
				</tr>
				<tr>
					<td><a href="#">Antonio Pérez</a><br/>
						<span class="autor">24 recetas</span>
					</td>
					<td style="width: 5%;">5.0</td>
				</tr>

			</table>
			
			
			
		</div>

		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield  %>

	</div>
	<div class="clear"></div>
</body>
</html>
